# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db